* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gotham';
}

.container {
    max-width: 121.6rem;
    margin: 0 auto;
}

.scroll-to-top-button {
    background-color:  #000000;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    transition: all .3s;
    opacity: 0;

    img {
        width: 5.5rem;
        height: 5.5rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(3%) hue-rotate(213deg) brightness(116%) contrast(100%);
    }
}

li {
    list-style-type: none;
}

button {
    border: none;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}