@use '../base/colors' as color;
@use '../base/breakpoints' as media;

.container-gym-cards {
    margin: 5rem 3rem 0;
    display: grid;
    place-items: center;
    gap: 3rem;

    @include media.tablet {
        place-items: start;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media.laptop {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media.desktop {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .gym-card {
        background-color: color.$light-text;
        width: 30rem;
        border-radius: 1rem;
        padding: 2rem;

        @include media.tablet {
            width: 100%;
        }
    }

    .card-header {
        border-bottom: 2px solid #d7d7d7;
        padding-bottom: 1.5rem;

        .card-status {
            color: color.$green;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .card-title {
            margin-top: .3rem;
            font-size: 2.3rem;
        }

        .card-address {
            margin-top: 1rem;
            font-size: 1.5rem;
            color: color.$light-grey;
        }
    }

    .card-container-icons,
    .card-schedules {
        margin-top: 2rem;
        display: flex;
        gap: 3rem;
        row-gap: 1rem;
        flex-wrap: wrap;

        .card-icon {
            width: 6rem;

            @include media.desktop {
                width: 5rem;
            }
        }
    }

    .card-schedules {
        gap: 4rem;
        row-gap: 2rem;

        .card-schedules-container {
            display: flex;
            flex-direction: column;
            gap: .3rem;
        }

        .card-day {
            font-size: 1.7rem;
            font-weight: bold;
        }

        .card-hour {
            font-size: 1.3rem;
        }
    }
}