@use '../base/colors' as color;
@use '../base/breakpoints' as media;

.header {
    background-color: color.$black-primary;
    text-align: center;
    padding: 3rem;

    @include media.tablet {
        padding: 4rem;
    }

    img {
        width: 55%;
        max-width: 17.0rem;

        @include media.tablet {
            max-width: 22rem;
        }
    }
}