* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gotham";
}

.container {
  max-width: 121.6rem;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/Gotham/gotham-light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/Gotham/gotham-book.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/Gotham/gotham-bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../../assets/fonts/Gotham/gotham-black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.header {
  background-color: #000000;
  text-align: center;
  padding: 3rem;
}
@media (width >= 768px) {
  .header {
    padding: 4rem;
  }
}
.header img {
  width: 55%;
  max-width: 17rem;
}
@media (width >= 768px) {
  .header img {
    max-width: 22rem;
  }
}

.main-infos {
  margin-top: 4rem;
  padding: 0 3rem;
}
.main-infos__title {
  font-size: 3.4rem;
  color: #333333;
  line-height: 4rem;
  text-transform: uppercase;
  max-width: 24.5rem;
}
.main-infos__title::after {
  content: "";
  display: block;
  position: relative;
  top: 1.5rem;
  height: 1.2rem;
  width: 10rem;
  background-color: #333333;
}
.main-infos__title span {
  color: #FFB612;
}
.main-infos__description {
  margin-top: 4rem;
  color: #808080;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container-schedules {
  margin: 5rem 3rem 0;
  padding: 3rem;
  border: 0.5rem solid #e5e5e5;
  border-radius: 2rem;
}
.container-schedules .icon-hour-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}
.container-schedules .icon-hour-container img {
  width: 3rem;
}
.container-schedules .container-hour {
  margin-top: 3rem;
}
.container-schedules .container-hour h2 {
  font-size: 2.5rem;
  color: #808080;
  font-weight: 500;
}
.container-schedules .container-options {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-schedules .container-options div:last-child {
  border-bottom: none;
}
.container-schedules .container-options div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #e5e5e5;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #808080;
  font-weight: 400;
}
.container-schedules .container-options label {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.container-schedules .container-options p {
  color: #333333;
  font-weight: 600;
}
.container-schedules .container-academy-closed {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}
@media (width >= 768px) {
  .container-schedules .container-academy-closed {
    flex-direction: row;
  }
}
.container-schedules .container-academy-closed .academy-closed span {
  font-weight: 600;
}
.container-schedules .container-buttons {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (width >= 768px) {
  .container-schedules .container-buttons {
    flex-direction: row;
    justify-content: center;
  }
}
.container-schedules .container-buttons button {
  width: 100%;
  color: #000000;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@media (width >= 768px) {
  .container-schedules .container-buttons button {
    font-size: 1.7rem;
    width: 30rem;
  }
}
.container-schedules .container-buttons button:first-child {
  background-color: #FFB612;
}
.container-schedules .container-buttons button:last-child {
  background-color: transparent;
  border: 0.3rem solid #e5e5e5;
}

.container-recommendations {
  margin: 5rem 3rem 0;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 3rem 2rem;
}
@media (width >= 768px) {
  .container-recommendations {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 7rem;
    flex-wrap: wrap;
  }
}
.container-recommendations .recommendations__item {
  text-align: center;
}
.container-recommendations .recommendations__item h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.container-recommendations .recommendation__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.container-recommendations .recommendation__icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container-recommendations .recommendation__icons img {
  width: 7rem;
}
@media (width >= 768px) {
  .container-recommendations .recommendation__icons img {
    width: 6rem;
  }
}
.container-recommendations .recommendation__icons span {
  font-size: 1.5rem;
}

/*# sourceMappingURL=app.css.map */
