/* Error: Can't find stylesheet to import.
 *    ,
 * 13 | @use 'layout/container-gym-cards';
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\scss\app.scss 13:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 13 \2502  @use 'layout/container-gym-cards';\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\scss\\app.scss 13:1  root stylesheet";
}
